<%= turbo_stream.replace @item do %>
  <%= render 'form', item: @item %>
<% end %>

<%= turbo_stream.replace 'flash_messages' do %>
  <% if flash[:alert].present? %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% else %>
    <div class="alert alert-danger">
      <%= @item.errors.full_messages.join(', ') %>
    </div>
  <% end %>
<% end %>
